.wbs-menu-button {
  background-color: #f7f7f7;
  border-radius: 10px;
}

.wbs-menu-button.w--open {
  background-color: #08b54f;
}

.wbs-button-primary-1 {
  color: #fff;
  text-align: center;
  background-color: #37782c;
  border-radius: 100px;
  padding: 13px 30px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 700;
  transition: background-color .3s ease-in-out;
}

.wbs-button-primary-1:hover {
  background-color: #010b15;
}

.wbs-button-primary-1._2 {
  color: #37782c;
  background-color: #fff;
}

.wbs-nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}

.wbs-dropdown-link {
  color: #010b15;
  font-size: 16px;
  font-weight: 700;
  transition: color .3s ease-in-out;
}

.wbs-dropdown-link:hover {
  color: #08b54f;
}

.wbs-dropdown-list {
  background-color: #fff;
  border: 1px solid rgba(1, 11, 21, .12);
  border-radius: 10px;
  padding: 15px 10px;
}

.wbs-nav-menu {
  margin-left: auto;
}

.wbs-logo {
  height: 2.375rem;
}

.wbs-nav-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: center;
  display: flex;
}

.wbs-container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-navbar {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.wbs-section {
  padding: 0 5%;
}

.wbs-hero-3-image {
  border: 1px solid rgba(1, 11, 21, .1);
  border-radius: 10px;
  box-shadow: 0 2px 24px rgba(0, 0, 0, .2);
}

.wbs-spacing-40 {
  height: 3.5rem;
}

.wbs-button-link-icon-image {
  height: 20px;
}

.wbs-button-link-icon {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #010b15;
  border-radius: 6px;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: flex;
}

.wbs-button-black {
  color: #fff;
  background-color: #010b15;
  border-radius: 6px;
  padding: 13px 30px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-button-black:hover {
  color: #fff;
  background-color: #333;
}

.wbs-hero-3-button {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wbs-spacing-30 {
  height: 1.875rem;
}

.wbs-lead-text {
  color: rgba(51, 51, 51, .9);
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6rem;
}

.wbs-heading-h1 {
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.3em;
}

.wbs-heading-h1.center {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.wbs-hero-title-wrap-center {
  text-align: center;
}

.wbs-hero-3-content {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.wbs-hero-3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.wbs-hero-component {
  margin-top: 5rem;
}

.wbs-section-2 {
  padding: 3rem 5%;
}

.image {
  width: 180px;
}

.wbs-testimonial {
  margin-top: 3.5rem;
}

.wbs-feature-title {
  color: #333;
  text-align: center;
  margin-top: 0;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2em;
}

.wbs-feature-left-info {
  margin-top: 1.25rem;
}

.wbs-feature-icon {
  height: 28px;
  flex: none;
}

.wbs-feature-icon.big {
  height: 54px;
}

.wbs-feature-4-item {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-color: rgba(55, 120, 44, .05);
  border-radius: 10px;
  flex-direction: column;
  padding: 30px;
  font-family: Poppins, sans-serif;
  display: flex;
}

.wbs-feature-4 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 3.25rem;
  display: grid;
}

.wbs-feature-component {
  margin-top: 5rem;
}

.wbs-container-2 {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-section-3 {
  padding: 6.25rem 5%;
}

.wbs-heading-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading {
  font-family: Poppins, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.wbs-scrolling-section {
  margin-top: 8rem;
}

.divider {
  height: 8rem;
}

.wbs-feature-image {
  border-radius: 10px;
}

.wbs-feature-icon-simple {
  margin-bottom: 24px;
}

.wbs-feature-5-item {
  border: 1px solid rgba(1, 11, 21, .1);
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  display: flex;
}

.wbs-feature-split-right {
  width: 100%;
  height: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wbs-spacing-41 {
  height: 1.875rem;
}

.wbs-lead-text-2 {
  color: #333;
  font-size: 1.125rem;
  line-height: 1.6rem;
}

.wbs-heading-h4 {
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-feature-title-wrap {
  margin-bottom: 6rem;
}

.wbs-feature-title-wrap.small {
  margin-bottom: 2rem;
}

.wbs-feature-split-2 {
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .5fr .5fr;
  grid-auto-columns: 1fr;
  align-items: end;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.wbs-feature-component-2 {
  margin-top: 8rem;
}

.paragraph {
  font-family: Poppins, sans-serif;
}

.paragraph-2 {
  font-size: .8rem;
}

.wbs-feature-image-decoration {
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.wbs-feature-split-3-image {
  position: relative;
}

.wbs-button-black-2 {
  color: #fff;
  background-color: #010b15;
  border-radius: 6px;
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-button-black-2:hover {
  color: #fff;
  background-color: #333;
}

.wbs-feature-sub-title {
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2em;
}

.wbs-feature-sub-title.opacity {
  text-decoration: line-through;
}

.wbs-feature-left-item {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  opacity: 1;
  align-items: center;
  display: flex;
}

.wbs-feature-left-item.opacity {
  opacity: .7;
}

.wbs-feature-split-3-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-top: 1px solid rgba(1, 11, 21, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 40px;
  display: grid;
}

.wbs-spacing-20 {
  height: 1.25rem;
}

.wbs-heading-h4-2 {
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3em;
}

.wbs-feature-split-3 {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .5fr .5fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins, sans-serif;
  display: grid;
}

.wbs-feature-component-3 {
  margin-top: 8rem;
}

.wbs-step-3-arrow-image-last {
  opacity: .25;
  position: absolute;
  top: auto;
  bottom: -20%;
  left: auto;
  right: 23%;
}

.wbs-step-3-arrow-image-top {
  opacity: .25;
  position: absolute;
  top: -20%;
  bottom: 0%;
  left: 26%;
  right: 0%;
}

.wbs-step-3-arrow-image-bottom {
  opacity: .25;
  position: absolute;
  top: auto;
  bottom: -20%;
  left: 0%;
  right: 0%;
}

.wbs-heading-h5 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.3em;
}

.wbs-step-3-simple-number {
  color: #08b54f;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 26px;
}

.wbs-step-3-item-top {
  margin-top: 100px;
}

.wbs-step-3 {
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.wbs-feature-title-2 {
  color: #010b15;
  text-align: center;
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2em;
}

.wbs-feature-item-left {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wbs-button-link-icon-image-2 {
  height: 20px;
}

.wbs-button-link-icon-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #010b15;
  border-radius: 6px;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: flex;
}

.wbs-feature-split-button {
  margin-top: auto;
}

.wbs-feature-split-left {
  background-color: #37782c;
  border-radius: 10px;
  flex-direction: column;
  padding: 30px;
  display: flex;
  position: relative;
}

.wbs-feature-split {
  max-width: none;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins, sans-serif;
  display: grid;
}

.wbs-spacing-42 {
  height: 1.875rem;
}

.wbs-heading-h4-3 {
  color: #010b15;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-feature-title-wrap-center {
  text-align: center;
}

.wbs-feature-component-4 {
  margin-top: 8rem;
}

.div-block {
  height: 100%;
}

.paragraph-3 {
  color: #fff;
  margin-top: 1.25rem;
}

.wbs-button-link {
  color: #010b15;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-accordion-content {
  padding-top: 10px;
  overflow: hidden;
}

.wbs-accordion-icon {
  width: 14px;
  margin-top: 5px;
}

.wbs-accordion-title {
  color: #010b15;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 28px;
}

.wbs-accordion-heading {
  cursor: pointer;
  justify-content: space-between;
  display: flex;
}

.wbs-accordion-item {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(1, 11, 21, .12);
  border-radius: 10px;
  padding: 15px 20px 10px;
}

.wbs-accordion {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.wbs-faq-image {
  border-radius: 10px;
}

.wbs-according-split {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.wbs-according-component {
  margin-top: 8rem;
}

.wbs-cta-image-right {
  z-index: 0;
  height: 150px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: rotate(20deg);
}

.wbs-cta-image-left {
  z-index: 0;
  height: 150px;
  position: absolute;
  top: 10%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: rotate(-20deg);
}

.wbs-button-primary-2 {
  color: #fff;
  text-align: center;
  background-color: #08b54f;
  border-radius: 6px;
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 700;
  transition: background-color .3s ease-in-out;
}

.wbs-button-primary-2:hover {
  background-color: #010b15;
}

.wbs-cta-5-button {
  grid-column-gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 2.25rem;
  display: flex;
}

.wbs-heading-h4-4 {
  color: #fefefe;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 1.3em;
}

.wbs-cta-5-content {
  z-index: 1;
  font-family: Poppins, sans-serif;
  position: relative;
}

.wbs-cta-5 {
  z-index: 1;
  max-width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  text-align: center;
  background-color: #37782c;
  border-radius: 10px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: .5fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 70px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.wbs-cta-component {
  margin-top: 8rem;
}

.wbs-footer-link {
  color: #010b15;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.wbs-footer-link:hover, .wbs-footer-link.w--current {
  text-decoration: underline;
}

.wbs-footer-simple-links {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.wbs-footer-logo-big {
  height: 40px;
}

.wbs-footer-logo-simple {
  margin-bottom: 20px;
}

.wbs-footer-simple {
  text-align: center;
}

.wbs-container-3 {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-section-4 {
  padding: 5rem 5%;
}

.body {
  background-color: #fff;
}

.green-span {
  color: #37782c;
}

.text-block {
  color: #fff;
  text-decoration: underline;
}

.div-block-2 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wbs-feature-5-item {
  background-color: rgba(221, 221, 221, 0);
  border-color: rgba(55, 120, 44, .38);
}

.wbs-feature-5-item.w--current {
  background-color: rgba(255, 255, 255, .05);
  border-color: #37782c;
}

.tabs {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-block-2 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 8px 16px;
}

.image-2, .image-3 {
  height: 100%;
}

.html-embed {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 991px) {
  .wbs-menu-button {
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-left: auto;
    padding: 15px;
  }

  .wbs-menu-button.w--open {
    background-color: #08b54f;
  }

  .wbs-nav-right {
    display: none;
  }

  .wbs-nav-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wbs-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .wbs-heading-h1 {
    font-size: 3.2rem;
    line-height: 1.2em;
  }

  .wbs-hero-3 {
    max-width: 100%;
  }

  .wbs-section-2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .wbs-feature-4 {
    grid-template-columns: 1fr 1fr;
  }

  .wbs-section-3 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .wbs-feature-image {
    width: 100%;
  }

  .wbs-feature-split-right {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .wbs-feature-split-2 {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .wbs-feature-split-3 {
    width: 100%;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .wbs-step-3-arrow-image-last, .wbs-step-3-arrow-image-top, .wbs-step-3-arrow-image-bottom {
    display: none;
  }

  .wbs-step-3-item-top {
    width: 400px;
    text-align: center;
    margin-top: 0;
  }

  .wbs-step-3-item {
    width: 400px;
    text-align: center;
  }

  .wbs-step-3 {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .wbs-feature-split {
    max-width: 100%;
  }

  .wbs-faq-image {
    width: 100%;
  }

  .wbs-according-split {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .wbs-cta-image-right, .wbs-cta-image-left {
    display: none;
  }

  .wbs-cta-5 {
    align-items: flex-start;
    padding: 40px;
  }

  .wbs-section-4 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .wbs-section {
    padding: 2rem 2%;
  }

  .wbs-heading-h1 {
    font-size: 2.4rem;
    line-height: 1.1em;
  }

  .wbs-hero-3-content {
    width: 80%;
  }

  .wbs-section-2 {
    padding: 2rem 2%;
  }

  .wbs-feature-4 {
    grid-template-columns: 1fr;
  }

  .wbs-section-3 {
    padding: 2rem 2%;
  }

  .wbs-step-3-item-top, .wbs-step-3-item {
    width: 300px;
  }

  .wbs-step-3, .wbs-feature-split {
    grid-template-columns: 1fr;
  }

  .wbs-accordion-icon {
    margin-left: 20px;
  }

  .wbs-cta-5 {
    grid-template-columns: 1fr;
  }

  .wbs-footer-simple-links {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .wbs-footer-logo-big {
    height: 50px;
  }

  .wbs-section-4 {
    padding: 2rem 2%;
  }
}

@media screen and (max-width: 479px) {
  .wbs-menu-button {
    display: none;
  }

  .wbs-nav-right {
    display: block;
  }

  .wbs-logo {
    height: 1.5rem;
  }

  .wbs-nav-wrap {
    justify-content: space-between;
  }

  .wbs-section {
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  .wbs-hero-3-button {
    flex-direction: column;
    align-items: center;
  }

  .wbs-lead-text {
    font-size: .8rem;
    line-height: 1.4;
  }

  .wbs-heading-h1, .wbs-heading-h1.center {
    font-size: 2rem;
  }

  .wbs-hero-3-content {
    width: 100%;
  }

  .wbs-feature-title {
    text-align: left;
    font-size: 1.2rem;
  }

  .wbs-feature-title.small {
    text-align: center;
    font-size: .8rem;
  }

  .wbs-feature-icon.big {
    height: 54px;
  }

  .wbs-feature-4-item {
    padding: 20px;
  }

  .wbs-feature-split-right {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 2rem;
    display: grid;
  }

  .wbs-feature-split-right.columns {
    flex-direction: column;
    display: flex;
  }

  .wbs-lead-text-2 {
    font-size: .9rem;
  }

  .wbs-heading-h4 {
    font-size: 2rem;
  }

  .wbs-feature-title-wrap {
    margin-bottom: 3rem;
  }

  .wbs-feature-component-2 {
    margin-top: 5rem;
  }

  .wbs-feature-split-3-list {
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    padding-top: 30px;
  }

  .wbs-heading-h4-2 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .wbs-step-3-item-top, .wbs-step-3-item {
    width: 100%;
  }

  .wbs-step-3 {
    width: 100%;
    grid-row-gap: 30px;
  }

  .wbs-heading-h4-3 {
    font-size: 1.7rem;
  }

  .wbs-accordion-icon {
    margin-left: 10px;
  }

  .wbs-accordion-title {
    padding-right: 20px;
  }

  .wbs-cta-5-button {
    grid-row-gap: 10px;
    flex-direction: column;
  }

  .wbs-heading-h4-4 {
    font-size: 1.8rem;
  }

  .wbs-cta-5 {
    align-items: center;
    padding: 20px 10px;
  }

  .wbs-footer-simple-links {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .wbs-footer-logo-big {
    height: 32px;
  }

  .wbs-section-4 {
    margin-top: 2rem;
  }

  .paragraph-4 {
    font-size: .8rem;
    line-height: 1.3;
  }

  .div-block-3 {
    height: auto;
    margin-top: 2.25rem;
  }

  .tabs {
    flex-direction: column;
    display: flex;
  }

  .image-3, .tab-pane-tab-1 {
    height: 100%;
  }
}

#w-node-_777890d2-455e-a8f3-4888-3fce4e788ce3-2b6e4c0d, #w-node-_777890d2-455e-a8f3-4888-3fce4e788cea-2b6e4c0d, #w-node-_777890d2-455e-a8f3-4888-3fce4e788cf1-2b6e4c0d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0df1eece-406d-3bac-0121-91de6fa3ebad-2b6e4c0d {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-e6f55a70-4b75-df42-d17f-5aff47de4645-2b6e4c0d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e6f55a70-4b75-df42-d17f-5aff47de4646-2b6e4c0d {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_4e476e8c-c2c7-241e-9405-08fcb29522ae-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522b6-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522b7-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522bc-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522c1-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522c6-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522cb-2b6e4c0d, #w-node-_06fb1b04-d9c1-9a5e-9d9d-c4ed1da8311f-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522d3-2b6e4c0d, #w-node-_1a504cb6-ec3c-3b99-dcb9-70ccd5de209c-2b6e4c0d, #w-node-_1a504cb6-ec3c-3b99-dcb9-70ccd5de20a7-2b6e4c0d, #w-node-_1a504cb6-ec3c-3b99-dcb9-70ccd5de20a8-2b6e4c0d, #w-node-_1a504cb6-ec3c-3b99-dcb9-70ccd5de20af-2b6e4c0d, #w-node-_1a504cb6-ec3c-3b99-dcb9-70ccd5de20b6-2b6e4c0d, #w-node-_1a504cb6-ec3c-3b99-dcb9-70ccd5de20bd-2b6e4c0d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522b7-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522bc-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522c1-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522c6-2b6e4c0d, #w-node-_4e476e8c-c2c7-241e-9405-08fcb29522cb-2b6e4c0d, #w-node-_06fb1b04-d9c1-9a5e-9d9d-c4ed1da8311f-2b6e4c0d {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_1a504cb6-ec3c-3b99-dcb9-70ccd5de20a7-2b6e4c0d {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


